.col-md-12
  %h3 Oops
  %hr
  %p.text-danger
    Sorry there was a nasty error - 
    = succeed '. ' do
      = @error
    = succeed ', ' do
      %a{:href => "http://github.com/baopham/"} Let me know
    I'll fix it right away.
