.col-md-12
  .page-header 
    %h2 Render tabular data as table

  %form{:role => "form", :action => "/tabular/render", :method => "post"}
    .form-group
      .radio-inline
        %label
          %input{:type => "radio", :name => "delimiter",
              :value => "\t", :checked => @delimiter=="\t" || true} Tab
      .radio-inline
        %label
          %input{:type => "radio", :name => "delimiter",
              :value => ",", :checked => @delimiter==","} Comma
    .form-group
      %textarea#tabular-textarea{:rows => "15", :name => "tabular-input"}= @tabular_input
    %button.btn.btn-primary#submit-form-btn Render

.col-md-12
  %hr
  .well
    - if @render_result.respond_to?('each')
      %table.table.table-bordered
        - if @render_result.count > 1
          %tr
            - @render_result.delete_at(0).each do |header|
              %th= header
        - @render_result.each do |row|
          - if row
            %tr
              - row.each do |column|
                %td= column
    - else
      = @render_result
