!!! 5
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:charset => "utf-8"}
    %title= @title || 'Tabular Renderer'
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/application.css"}

    %link{:rel => "stylesheet", :href => "/javascript/jquery-linedtextarea/jquery-linedtextarea.css"}
    %script{:type => "text/javascript",
        :src  => "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript",
        :src  => "/javascript/jquery-linedtextarea/jquery-linedtextarea.js"}
    %script{:type => "text/javascript",
        :src  => "/javascript/application.js"}
  %body
    .container-fluid
      .row
        = yield

    #footer
      %hr
      .container-fluid
        %p.text-center.small
          &copy;
          = Time.new.year
          %a{:href => "https://github.com/baopham/tabrenderer"} tabrenderer 
          &dash;
          %a{:href => "/privacy"} Privacy

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-27192907-7', 'tabrenderer.herokuapp.com');
      ga('send', 'pageview');
