.col-md-12
  %h3 Privacy
  %hr
    
  %p 
    No personal information is collected except that the site uses 
    %a{:href => "http://www.google.com/analytics/"} Google Analytics
    \. Google Analytics allows me to generate reports about the number of visitors, 
    your browsers and OS, visit duration, &#8230; However, all these data are completely anonymous.

  %p 
    For more information, you can consult the
    %a{:href => 'http://www.google.com/analytics/terms/us.html'} Google Analytics Terms of Service

  %strong Opt out
  %p 
    You can install
    %a{:href => 'https://tools.google.com/dlpage/gaoptout?hl=en'} a browser plugin
    to opt out of all Google Analytics tracking software.
