/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Arvo', serif;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Custom page CSS
-------------------------------------------------- */
#footer .text-muted {
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea {
  height: 100%;
  width: 100%;
}

.navbar-brand {
  font-size: 30px;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}
